/*Helpers*/

.mrg-t-10 {
    margin-top: 10px;
}
.mrg-t-20 {
    margin-top: 20px;
}

.mrg-b-10 {
    margin-bottom: 10px;
}

.no-gutter {
    padding: 0;
}

.no-radius {
    border-radius: 0;
}

html body {
    background-color: #F7F8FA;
}

/*Header*/

header.navbar-default {
    margin-bottom: 0;
}

header .btn-sign-up {
    background-color: #BD3C53;
    border-color: #BD3C53;
    color: #fff;
}

.btn-cart {
    background-color: transparent;
    border: none;
}

/*Header*/

/*Banner Section*/

section.banner-container {
    min-height: 320px;
    background: url(../img/fxkart-bg.jpg) no-repeat scroll center center / cover;
    position: relative;
    color: #fff;
}

.feature-container {
    background-color: #BD3C53;
    color: #fff;
    padding: 10px 0;
}

.feature-container .media .fa {
    color: #fff;
}

.banner-container .search-block {
    position: absolute;
    top: 30%;
}

/*Banner Section*/

/*Result Container*/

.result-container .carousel .carousel-control {
    background: none;
    top: 0;
    bottom: auto;
    right: 0;
    width: 2%;
}

.result-container .carousel-control.left {
    left: 85%;
}

.result-container .carousel-control.right {
    right: 0;
    left: 90%;
}

.result-container a.carousel-control {
    background: none;
}

.glyphicon {
    color: #FF5722;
}

.carousel-indicators {
    display: none;
}

.course-heading {
    font-weight: 500;
    font-size: 15px;
    color: #29303b;
}

.discover-container .btn {
    width: 100%;
    padding: 8px;
    color: #fff;
}

.discover-container .btn-top-rated {
    background-color: #1E7199;
}

.discover-container .btn-trending {
    background-color: #6B5593;
}

.discover-container .btn-noteworthy {
    background-color: #26A3A4;
}

/*Result Container*/

/*Portfolio*/

.portfolio-container p.title {
    text-align: center;
}

.portfolio-container .thumbnail {
    margin-bottom: 8px;
}

.info small {
    margin-bottom: 10px;
    display: block;
    max-width: 60%;
    margin: 0 auto 10px;
}

.call-to-action {
    margin-top: 30px;
}

.call-to-action .btn {
    background-color: #BD3C53;
    color: #fff;
    border-color: #BD3C53;
}

.call-to-action .text-center:first-child:after {
    content: "";
    position: absolute;
    border-right: 1px solid #ccc;
    top: 0;
    height: 100%;
    right: 0;
}

/*Footer*/

.bs-footer {
    margin-top: 100px;
    text-align: center;
    background-color: #fff;
    border-bottom: 3px solid #FF5722;
}

/*Footer*/
/* Search */
.search {
    width: 100%;
    position: relative
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    position: absolute;  
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }