/*Helpers*/

.mrg-t-10 {
    margin-top: 10px;
}

.mrg-t-20 {
    margin-top: 20px;
}

.mrg-b-10 {
    margin-bottom: 10px;
}

.no-gutter {
    padding: 0;
}

.no-radius {
    border-radius: 0;
}

.block-width {
    width: 100%;
}

html body {
    background-color: #F7F8FA;
    font-family: 'Roboto', sans-serif;
}

body .btn-red {
    background-color: #f92929;
    color: #fff;
    border-color: #f92929;
}

body .btn {
    border-radius: 2px;
}

/*Header*/

header.navbar-default {
    padding: 8px 0;
    margin-bottom: 0;
    background-color: #fff;
}

header .btn-sign-up {
    background-color: #f92929;
    border-color: #f92929;
    color: #fff;
}

.btn-cart {
    background-color: transparent;
    border: none;
}

.menu-icon {
    padding: 4px 8px 4px 0;
    display: inline-block;
}

.navbar-default .navbar-brand {
    padding: 2px 15px;
}

.navbar-brand img {
    max-width: 180px;
}

header .cart-menu {
    padding: 12px;
    width: 300px;
    text-align: center;
}

.cart-menu.dropdown-menu>li>a {
    color: #fff;
}

.cart-menu.dropdown-menu>li>a:hover {
    border-color: #f5f5f5;
}
header .open>.dropdown-menu {
    display: none;
}
header .open:hover .dropdown-menu {
    display: block;
    transition: 3s all;
}

.dropdown-toggle {
    background-color: transparent!important;
}
.search-by-feature .btn-best:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #f92929;
    right: -10px;
}
.search-by-feature .btn-best {
    height: auto;
    padding: 0 6px;
    border-radius: 0;
}
.search-by-feature .best-seller-badge {
    position: absolute;
    right: 0;
    top: 4px;
}
.user-avatar {
    width: 40px;
    border: 1px solid;
    border-radius: 50px;
    position: absolute;
    top: -15px;
    height: 40px;
}

.user-initials {
    position: absolute;
    right: 0;
    left: 0;
    top: 25%;
}
.user-logged-in .dropdown-menu {
    text-align: left;
}
.icon {
    padding-right: 15px;
}
.user-logged-in .dropdown-menu .list-item label {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    font-weight: normal;
}
.user-logged-in .cart-menu.dropdown-menu>li>a {
    color: #333;
}
.user-logged-in .cart-menu.dropdown-menu {
    top: 25px;
    right: -30px;
}
header .notify .badge {
    position: absolute;
    top: 0;
    background-color: #f92929;
    right: 0;
    padding: 2px 4px;
}
.notify .dropdown-menu .media-body {
    max-width: 180px;
    word-break: break-all;
}
.notify .dropdown-menu .media-heading, .notify .dropdown-menu p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 180px;
    text-align: left;
}
/*Header*/

/*Banner Section*/

section.banner-container {
    min-height: 460px;
    background: url(../img/fxkart-bg.jpg) no-repeat scroll center 20% / cover;
    position: relative;
    color: #fff;
}

.feature-container {
    background-color: #f92929;
    color: #fff;
    padding: 10px 0;
}

.feature-container .media .fa {
    color: #fff;
}

.feature-heading {
    font-size: 15px;
    font-weight: 500;
}

.banner-container .search-block {
    position: absolute;
    bottom: 20%;
    width: 100%;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.search-block .input-group {
    width: 70%;
    padding: 16px;
    background-color: #6b596f63;
    margin: 0 auto;
}

.search-block .input-group .form-control {
    padding: 30px;
}

select.selectpicker {
    max-width: 100px;
}

.btn-group.bootstrap-select>button.btn {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.search-block .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 170px;
}

.search-block .input-group-addon {
    background-color: #fff;
}

.search-block .input-group-addon:last-child {
    background-color: #f92929;
}

.search-block .btn:hover, .search-block span.input-group-addon:hover button {
    border: none;
}

.search-block span.input-group-addon:hover, .search-block span.input-group-addon:hover button {
    background-color: #d4d4d4;
    color: #333;
}

.search-block .bootstrap-select .dropdown-toggle:focus {
    outline: none;
}

/*Banner Section*/

/*Result Container*/

.result-container .carousel .carousel-control {
    background: none;
    top: 0;
    bottom: auto;
    right: 0;
    width: 2%;
}

.result-container .carousel-control.left {
    left: 85%;
}

.result-container .carousel-control.right {
    right: 0;
    left: 90%;
}

.result-container a.carousel-control {
    background: none;
}

.glyphicon {
    color: #FF5722;
}

.carousel-indicators {
    display: none;
}

.course-heading {
    font-weight: 500;
    font-size: 15px;
    color: #29303b;
}

.discover-container .btn {
    width: 100%;
    padding: 8px;
    color: #fff;
}

.discover-container .btn-top-rated {
    background-color: #1E7199;
}

.discover-container .btn-trending {
    background-color: #6B5593;
}

.discover-container .btn-noteworthy {
    background-color: #26A3A4;
}

.course-panel {
    padding: 8px;
}

.media-object {
    min-width: 80px;
    max-width: 80px;
}

.thumbnail {
    position: relative;
}

.thumbnail.show-on-hover {
    display: none;
}

.thumbnail:hover .thumbnail.show-on-hover {
    display: block;
    position: absolute;
    top: 0;
    left: 260px;
    z-index: 1000;
    width: 455px;
    height: auto;
    box-shadow: 0 4px 16px rgba(20, 23, 28, .25);
    padding: 12px;
}

.col-sm-3:not(:nth-child(1)):not(:nth-child(2)) .thumbnail.show-on-hover {
    left: auto;
    right: 270px;
}

.col-sm-3:not(:nth-child(1)):not(:nth-child(2)) .thumbnail.show-on-hover::before {
    border-right: 10px solid transparent;
}

.col-sm-3:not(:nth-child(1)):not(:nth-child(2)) .thumbnail.show-on-hover::after {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
    content: "";
    position: absolute;
    bottom: 50%;
    left: auto;
    right: -10px;
    width: 0;
    height: 0;
}

.show-on-hover::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
}

.show-on-hover .course-heading {
    font-size: 18px;
    margin: 0 0 10px;
}

.show-on-hover .list-item {
    display: inline-block;
    width: 25%;
}
.show-on-hover .list-item span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.show-on-hover .bullet-type {
    padding-left: 15px;
}

.show-on-hover .bullet-type .list-item {
    display: list-item;
    color: #ccc;
}

.show-on-hover .bullet-type .list-item-text {
    color: #333;
}

.popover-footer {
    text-align: center;
}

.show-on-hover .btn {
    border-radius: 0;
}

/*Result Container*/

/*Portfolio*/

.portfolio-container p.title {
    text-align: center;
}

.portfolio-container .thumbnail {
    margin-bottom: 8px;
}

.info small {
    margin-bottom: 10px;
    display: block;
    max-width: 60%;
    margin: 0 auto 10px;
}

.call-to-action {
    margin-top: 30px;
}

.call-to-action .btn {
    background-color: #f92929;
    color: #fff;
    border-color: #f92929;
}

.call-to-action .text-center:first-child:after {
    content: "";
    position: absolute;
    border-right: 1px solid #ccc;
    top: 0;
    height: 100%;
    right: 0;
}

section.contact-container {
    color: #fff;
    background-color: gray;
    padding: 30px;
}

.list-heading {
    font-weight: 600;
}

.list-address a {
    color: #fff;
}

.list-caption {
    font-size: 11px;
    color: rgb(230, 225, 225);
}

.btn-contact {
    min-width: 20%;
    font-size: 1.2em;
}

.list-social-media li a {
    padding-right: 15px;
}

.list-social-media li i {
    color: #fff;
    font-size: 2em;
}

.list-social-media li i:hover {
    color: #f92929;
}

/*Footer*/

.bs-footer {
    background-color: #333;
    border-bottom: 3px solid #FF5722;
    color: #fff;
    padding: 8px 0 0;
    margin-top: 30px;
}

.bs-footer a {
    color: #fff;
}

.bs-footer .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
    color: #fff;
}
input.form-control.subscribe {
    background-color: #524f4f;
    border-color: #524f4f;
}
.bs-footer li.footer-title {
    float: none;
    display: block;
}
.footer-title h3 {
    border-bottom: 1px solid;
}
.copyright {
    background-color: #292626;
    text-align: center;
}
.copyright p {
    margin-bottom: 0;
    padding: 10px;
}

/*Footer*/

/* Search */

.search {
    width: 100%;
    position: relative
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/

.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Login */

.social-login li a {
    width: 100%;
    margin-bottom: 10px;
}

.modal .glyphicon {
    color: #ccc;
}

.social-login li .btn {
    padding: 8px 16px;
}

.social-login li .btn-facebook {
    color: #fff;
    background-color: #1a538a;
}

.modal .btn {
    width: 100%;
}

.divider {
    height: 1px;
    margin: 9px 0;
    background-color: #e5e5e5;
    position: relative;
}

.divider:after {
    content: "or";
    position: absolute;
    top: -12px;
    background-color: #fff;
    right: 50%;
    font-size: 1.2em;
}

.social-login {
    margin-bottom: 15px;
}

.modal-footer a {
    display: block;
    text-align: center;
}

footer .nav>li>a>img {
    max-width: 100px;
}

/* Search Reslut */

/* Search Reslut */

.featured-navbar {
    background-color: #29303b;
    color: #fff;
    padding-bottom: 15px;
}

.featured-navbar .breadcrumb {
    margin-bottom: 0;
    padding: 15px 0 0;
    background-color: #29303b;
}

.featured-navbar .breadcrumb a {
    color: #ccc;
}

.featured-navbar .breadcrumb .active a {
    color: #fff;
}

.featured-navbar h2 {
    font-size: 24px;
    margin: 5px auto 0;
}

.filter-section {
    margin: 15px auto;
}

.filter-section .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: auto;
}

.filter-section .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.filter-section .bootstrap-select .dropdown-toggle {
    background-color: #ddd !important;
}

.filter-section .btn-filters {
    border: 2px solid #777;
}

.result-section .result-panel .course-heading a {
    color: #29303b;
}

.result-panel .media-object {
    min-width: auto;
    max-width: inherit;
}

.result-panel .course-panel {
    border-radius: 2px;
    padding: 0;
}

.result-panel .media-left, .media>.pull-left {
    padding-right: 15px;
    padding-left: 15px;
}

.result-panel .media-body {
    padding: 8px 15px;
}

.result-panel small {
    font-size: 11px;
    color: #908c8c;
    margin-bottom: 5px;
    display: inline-block;
}

.result-panel .course-deal {
    text-align: right;
    display: inline-block;
    width: 49%;
}

.result-panel .media-footer {
    width: 50%;
    display: inline-block;
}

.result-panel .media-footer li.list-item {
    display: inline-block;
    margin-right: 10px;
}

.result-panel .fa-star {
    cursor: pointer;
}

.checked {
    color: #f92929;
}

.result-section .pagination>li>a, .pagination>li>span {
    padding: 12px 18px;
}

.result-section .pagination .fa {
    font-size: 16px;
}

.result-section .best-seller-badge .btn-best {
    position: relative;
    padding: 0 8px;
    border-radius: 3px;
}

.result-section .btn-best:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #f92929;
    right: -10px;
}

/* Search Detail */

.heading-title {
    border-bottom: 1px solid #f92929;
    display: inline-block;
    margin-top: 0;
}

.search-panels {
    margin-bottom: 20px;
}

.search-panels .well li {
    list-style-type: circle;
}

.search-panels .content {
    margin-bottom: 0;
}

.search-detail .well-footer .btn {
    min-width: 120px;
}

.search-detail .well .fa {
    margin-right: 10px;
}

.search-detail .list-social-media li i {
    color: #777;
    font-size: 1em;
    border: 2px solid #777;
    border-radius: 50%;
    padding: 12px;
    width: 40px;
    height: 40px;
}

.search-detail .list-social-media li i:hover {
    color: #fff;
    background-color: #f92929;
    border-color: #f92929;
}

.search-detail .list-item-text {
    padding: 0 5px;
}

/* Cart */

.cart .input-num {
    max-width: 50px;
    display: inline-block;
    text-align: center;
}

.minus, .plus {
    cursor: pointer;
}

.panel.panel-total {
    padding: 8px;
}

.cart .list-item span {
    font-size: 1.5em;
}

.people-count {
    margin-bottom: 10px;
}

.cart .course-heading {
    max-width: 220px;
    word-break: break-word;
}

.cart .media-body {
    width: auto;
}

.custom-input {
    display: inline;
    max-width: 70px;
    border: none;
    cursor: default;
    background-color: transparent;
}

.cart .alert {
    width: auto;
    display: inline-block;
}

.table-cart tbody, .table-cart thead {
    border: 1px solid #ddd;
}

.table-cart tfoot {
    border: 1px solid #333;
}

.cart tfoot td {
    background-color: #333;
    border-color: #333;
    color: #fff;
}

/* Pricing */

.pricing-header {
    margin-bottom: 30px;
}

.pricing-details .panel:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
}

.pricing-details .panel-body {
    text-align: center;
    min-height: 330px
}
.pricing-details .panel-primary {
    border-color: #ccc;
}
.pricing-details .panel-footer p {
    margin-bottom: 0;
}
.pricing-details .price {
    position: relative;
    top: 0;
}

.pricing-details .price:after {
    content: "";
    border-bottom: 1px solid #ccC;
    width: 45px;
    position: absolute;
    height: 100%;
    top: 10px;
    right: 40%;
}

.package-type {
    margin: 0 auto 40px;
}
.package-type h3 {
    margin-bottom: 20px;
}

.package-details {
    margin-top: 30px;
    margin-bottom: 30px;
}

.pricing-package-section .custom-heckbox {
    box-shadow: none;
    font-size: 18px;
    text-align: left;
    margin: 0;
    max-width: 15px;
}

.pricing-details .panel-classic .panel-footer {
    background-color: #e28989;
    color: #fff;
}
.pricing-details .panel-value-back .panel-footer {
    background-color: #589088;
    color: #fff;
}
.pricing-details .panel-super-value .panel-footer {
    background-color: #4c93d0;
    color: #fff;
}
.pricing-details .panel-recording .panel-footer {
    background-color: #af7d1c;
    color: #fff;
}
.panel-classic::before {
    width: 55px;
    height: 30px;
    position: absolute;
    top: -8px;
    right: -18px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* Profile */
.my-profile {
    margin: 30px auto;
}
/* Checkout */
.checkout-section .table-checkout .media-body {
    vertical-align: middle;
}
.checkout-section .table-checkout .media-body .course-heading {
    display: inline-block;
}
.checkout-section .table-checkout .course-deal {
    display: inline-block;
    padding-left: 15px;
}
/* My Orders */
.my-orders table.dataTable thead .sorting {
    background-image: url(../img/sort_both.png);
}
.my-orders table.dataTable thead .sorting_asc {
    background-image: url(../img/sort_asc.png);
}
.my-orders table.dataTable thead .sorting_desc {
    background-image: url(../img/sort_desc.png);
}
.order-qty {
    border: 2px solid #ccc;
    padding: 4px 10px;
    border-radius: 3px;
}
.my-orders .btn-white {
    border: 2px solid #ccc;
    padding: 4px 10px;
    border-radius: 3px;
    transition-delay: 0.1s;
    color: #333;
}
.my-orders .btn-white:hover {
    background-color: #f92929;
    border-color: #f92929;
    color: #fff;
    transition-delay: 0.1s;
}
.my-orders .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border: 1px solid #ccc;
    padding: 4px 12px;
}

/* Order Confirmation */
.confirmation-details {
    text-align: center;
}